.footer {
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.themeFooterLight{
  background-color: #ccc;
  color: black;
}

.themeFooterDark{
  background-color: #333;
  color: white;
}

.title {
  margin: 0;
  font-size: 1.7rem;
}
