.tab{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    width: 200px;
    cursor: pointer;
}

.tabActive {
  text-align: center;
    padding: 5px;
    font-size: 18px;
    width: 200px;
    background-color: black;
    color: white;
}